# Project: No-Show appointment Data Analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

This project analyzes the data regarding the failure of appointees to keep their date or appointments. I would be investigating the factors responsible for the failure of patients to show up for their appointments.

The dataset analyzed represents a sample size of over 100 thousand medical appointments in Brazil. A number of characteristics about the patient are included in each row.
Based on My findings, I should be able to predict whether or not a patient would show up for his/her appointment and explain why.

>**Column Names**:

The following variables are analyzed in this data set
1. PatientId    : This is a unique identifier for each patient. No two patient has the same Id. 
2. AppointmentID : Uniquely identifies the appointment records and details. Again this is unique for each appointment made.  
3. Gender: Tells us whether the patient is male or female           
4. ScheduledDay : this tells us the time that the appointment was fixed for on the appointment day (this should be renamed as scheduledTime because there is another column that tells us what date the appointment was for)this tells us what day the appointment was set for. 
5. AppointmentDay: This column gives us information about the date of the appointment. the date is formatted as pd.datetime  
6. Age    : Specifies the age of the patients         
7. Neighbourhood : this tells us the location of the hospital. unfortunately there is no measurement of the distance between the hospital and the location. this would have provided an insight into how distance affects the tendency to keep appointments
8. Scholarship : indicates whether or not the patient is enrolled in Brasilian welfare program Bolsa FamÃ­lia. 
9. Hipertension
10. Diabetes        
11. Alcoholism      
12. Handcap         
13. SMS_received 
14. No-show : Tells us whether the patient showed up or not for their appointment. It says NO if they did and yes if they didn't


### Question(s) for Analysis

1.  What factors are important for us to know in order to predict if a patient will show up for their scheduled appointment?
2. Do Females have more tendency to show up for their appointments than Males (is gender a factor?)
3. Does the appointment time influence whether or not a patient shows up for their appointment?
4. Are people above a certain age more or less inclined to show up for their appointments
5. Are people below a certain age more or less inclined to show up for thei appointments
6. if the health program is free, are the patients more likely to show up for their appointments?

>**Tip**: Clearly state one or more questions that you plan on exploring over the course of the report. You will address these questions in the **data analysis** and **conclusion** sections. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> **Tip**: Once you start coding, use NumPy arrays, Pandas Series, and DataFrames where appropriate rather than Python lists and dictionaries. Also, **use good coding practices**, such as, define and use functions to avoid repetitive code. Use appropriate comments within the code cells, explanation in the mark-down cells, and meaningful variable names.

In [1]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you **document your data cleaning steps in mark-down cells precisely and justify your cleaning decisions.**


### General Properties
> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

In [4]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
df.shape

(110527, 14)

In [7]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [8]:
# Check for missing entries
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [ ]:
# Check for duplicate entries
df.duplicated().sum()

In [ ]:
#Check number of entries and number of columns
df.shape

In [ ]:
# are there any duplicated patient id? means that one patient had more than 1 appointment
sum(df.PatientId.duplicated())

## Observations about the data
1. Number of Entries: 110527
2. Number of Columns: 14
3. Missing Entries: 0
4. Number of Duplicated Patient Id: 48228 (relevant because this is a record of same patient's behaviour to appointments)
5. Incorrect Data type: scheduled day and appointment day both have strings as their data type. it should be datetime
6. column Names not in uniform: SMS_received and No-show'
7. No show column does not represent the data adequately. info about the column is that the meanings have been reversed. i.e no means yes and vice versa. we have to correct this and represent with dtype int. 1 for "yes" and 0 for "no"
8. Number of Duplicate entries: 0
9. The column ScheduledDay should represent Appointment time only since the same date information is contained in the column AppointmentDay

### Clean up operations to be made are
1. change datatype of ScheduledDay and AppointmentDay from string to datetime
2. Rename columns SMS_received and No-show for uniformity
3. Replace values in Column NoShow make No read 1 and Yes read 0 
(thereby correcting the other anomaly which is that no was used to represent a confirmed appointment)
4. then change the data type of NoShow to int 
5. Extract the time from the ScheduledDay column 
6. Rename the column "ScheduledDay" to "ScheduledTime"


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

In [ ]:
#change datatype of ScheduledDay and AppointmentDay from string to datetime
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [ ]:
#Rename columns SMS_received and No-show for uniformity
df=df.rename(columns = {'SMS_received' : 'SmsReceived'})
df=df.rename(columns = {'No-show' : 'NoShow'})

In [ ]:
#Replace values in Column NoShow make "No" read 1 and "Yes" read 0 
#(thereby correcting the other anomaly which is that no was used to represent a confirmed appointment)
df['NoShow'] = df['NoShow'].replace(['Yes', 'No'],['0', '1'])

In [ ]:
#Check to see the number of unique values in the NoShow column
df.NoShow.nunique()

In [ ]:
#Check to see if the change worked
df.query('NoShow == "0"')

In [ ]:
df.query('NoShow == "1"')

In [ ]:
# Change the datatype of NoShow to int
df['NoShow'] = df['NoShow'].astype(int)

In [ ]:
#Extract time from ScheduledDay
#To do this we first have to convert the time format to the datetime
df['ScheduledDay'] = df['ScheduledDay'].apply(lambda x : pd.to_datetime(str(x)))

In [ ]:
#check if change has been made
df.info()

In [ ]:
#Extract the time
df['ScheduledDay'] = df['ScheduledDay'].dt.time

In [ ]:
#rename the column to ScheduleTime
df.rename(columns = {'ScheduledDay':'ScheduledTime'}, inplace = True)